@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf") format(".ttf");
}
*{
    box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding: 0;
  overflow: hidden;
}
main {
  flex: 1;
}
.container{
    padding-top: 10px;
}
#dayText{
    font-size: 36px;
    font-weight: bold;
}
#sect-text{
    color: #D1A28B;
    font-size: 12px;
    font-weight: semibold;
} 
.add-task{
    padding-bottom: 20px;
}
.add-task input{
    width: 80%;
    padding: 15px;
    color: #222222;
    outline: none;
    border: none;
    background-color: #F3EFEE;
}
.add-task button{
    padding: 15px;
    background-color: #393433;
    color: #F9F5F4;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.add-task input::placeholder{
    color: #222222;
    font-size: 16px;
    letter-spacing: 0.5px;
}
#todoList{
    background-color: #ece5e5;
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    gap: 8px;
}
#todoList p{
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}
input[type="checkbox"]{
   transform: scale(1.5);
   margin: 10px;
}
.taskContainer{
    background-color: #ece5e5;
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    gap: 8px;
    margin: 10px 0;
}
.delBtn{
    background-color: #393433;
    color: #F9F5F4;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: auto;
}